/* body */
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: red;
  background: url("https://source.unsplash.com/category/nature/1920x1080") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}
#navbar{
  padding: 0px;
  margin: 0px;
}
/* used in header wrapping the navbar, and in index (main section of the page)*/
.contain{
  padding: 0px 50px 0px 50px;
  /*margin: 0px;*/
}
/* header Navbar */
.navbar .contain .navbar-header .logo{
  width: 18%;
  margin-top: 5px;
}
/* ximble button*/
.navbar .contain .collapse .nav .top-right{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 6px;
}
.navbar .contain .collapse .nav .button :hover{
  background-color: #080808;
  border-radius: 7px;
}
.navbar .contain .collapse .nav .top-right #x{
  color: #0077c0;
}
/* main section of the page */
#content{
  /*margin-bottom: 50px;*/
min-height: 82.5%;
border:1px solid #000;
  /*margin-top: 50px;*/
}

.border{
  /*margin: 0;*/
  /*border:1px solid #000;*/
	border: 1px solid rgb(102, 102, 102);
}

/* left section container of the icons */
/* .opacity{
  background-color: #fff;
  opacity: 0.7;
} */
.contain .row .icons{
  height: 400px;
  /*margin: 0px;*/
  padding: 0px 30px 0px 0px;
  text-align: center;

}
.p-0{
  padding: 0px;
}
.row{
  /*margin: 0px !important;*/
}
.m-t-50{
  margin-top: 50px;
}
.m-b-50{
  margin-bottom: 50px;
}
.contain .row .icons .icons_box{
  height: 175px;
  background-image: linear-gradient(67deg, #0078c0, #2f4050);
  /* opacity: 0.7; */
  border-radius: 7px;
  display: inline-block;
  text-align: center; 
  padding: 0;


}
.contain .row .icons .icons_box .icon_img img{
  padding: 0px 0px 0px 0px;
  border-radius: 7px;
  
}
.contain .row .icons .icons_box .icon_img img:hover{
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 2px 4px 1px #151f29;
  
}
.contain .row .icons .icons_box .icon_img {
  display: inline-block;
  /*padding-right: 5px !important; */
  /* padding: 10px 13px 10px 0px; */
  margin: 50px 0px 0px 0px;
  /*margin-top: 50px;*/

}

/* calander section */
.contain .row .calendar{
 padding: 0px;
 border-radius: 10px;
 overflow: hidden;
 /*padding-left: 20px;*/
}
.contain .row .calendar .responsiveCal {
position: relative;
 /*padding-bottom: 75%;*/
  height: 400px;
  overflow: hidden;
  text-align: center;
  
}
 
.contain .row .calendar .responsiveCal iframe {
/* opacity: 0.7; */
position: absolute;
top:0; left: 0;
width: 100%;
   height: 100%;
   transition-delay: 0.5s;
  transition-timing-function: ease-in-out;

 
}

.contain .row .calendar .responsiveCal .g-signin2{
  display: inline-block;
  margin: 175px 0;
  /* font-size:20px; */
}
.contain .row .calendar .responsiveCal .warning{
  /* display: inline-block; */
  margin: 175px 0;
}

.user_image{
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;
  width: 24px;
  height: 24px;
  }
.user_image:hover{
  border: 2px solid #0078c0;
}
.m-t-10{
  margin-top: 10px;
}

footer{
  background-color: #101010;
  height: 50px;
  margin:0px;
  padding-top: 15px;
  color: #fff;
  font-family: sans-serif;

}
